<div class="container mt-5">
  <div class="row">
    <div class="profile-img-card">
      <img alt="" src="../assets/profile.jpg"/>
    </div>
    <div class="form mt-5">
      <form>
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input
                aria-describedby="FirstName"
                class="form-control"
                id="firstName"
                placeholder="Enter Name"
                type="text"
              />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="LastName">Last Name</label>
              <input
                aria-describedby="LastName"
                class="form-control"
                id="firstName"
                placeholder="Enter Name"
                type="text"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
